<h2>プロフィールの編集</h2>

<%= form_for(@user, url: user_path(@user), method: :put, html: { multipart: true }) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_area :bio %>
  </div>

  <div class="field">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, size: "100x100" %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "保存する" %>
  </div>
<% end %>