<!-- app/views/users/edit.html.erb -->
<h1>Edit Profile</h1>
<%= form_for(@user) do |f| %>
  <%= f.label :name %><br />
  <%= f.text_field :name %>

  <%= f.label :email %><br />
  <%= f.email_field :email %>

  <%= f.label :password %><br />
  <%= f.password_field :password, autocomplete: "new-password" %>

  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %>

  <%= f.label :avatar %><br />
  <%= f.file_field :avatar %>

  <%= f.submit "Update" %>
<% end %>