<h1>予約の作成</h1>

<%= form_with(model: [@room, @reservation], local: true) do |form| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>
      <ul>
        <% @reservation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :check_in_date, "チェックイン日" %>
    <%= form.date_field :check_in_date, required: true %>
  </div>

  <div class="field">
    <%= form.label :check_out_date, "チェックアウト日" %>
    <%= form.date_field :check_out_date, required: true %>
  </div>

  <div class="field">
    <%= form.label :guest_count, "人数" %>
    <%= form.number_field :guest_count, min: 1, required: true %>
  </div>

  <div class="actions">
    <%= form.submit "予約を作成" %>
  </div>
<% end %>

<p><%= link_to 'キャンセル', room_path(@room) %></p>
