<!DOCTYPE html>
<html>
  <head>
    <title>Booking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!-- app/views/layouts/application.html.erb -->
  <header>
    <% if user_signed_in? %>
      <%= image_tag current_user.avatar.variant(resize: "50x50") if current_user.avatar.attached? %>
      <%= link_to current_user.name, '#' %>
      <%= link_to 'Logout', destroy_user_session_path, method: :get %>
    <% else %>
      <%= link_to 'Login', new_user_session_path %>
      <%= link_to 'Sign Up', new_user_registration_path %>
    <% end %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
